{% extends 'base.html' %}

{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image:url('./../../static/images/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>小周某些设计的实现</h1>
              <span class="subheading">想要钱多多！</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
毕业设计（graduation project）是指工、农、林科高等学校和中等专业学校学生毕业前夕总结性的独立作业。是实践性教学最后一个环节。旨在检验学生综合运用所学理论、知识和技能解决实际问题的能力。在教师指导下，学生就选定的课题进行工程设计和研究，包括设计、计算、绘图、工艺技术、经济论证以及合理化建议等，最后提交一份报告。应尽量选与生产、科学研究任务结合的现实题目，亦可做假拟的题目。          </p>
        </div>
      </div>
    </div>
{% endblock %}
